$font-color: #4a4a4a;
$font-color-grey:#404040;
$font-text-color: #ffffff;
$font-red-color: #E88136;
$font-orange: #E88136;
$font-color:#E88136;
$background-color:#fff;
$background-red: #E88136;
$background-orange: #E88136;
$header-color:#404040;
$background-color-tabs: #EFEFEF;
$sidebar-menu-color: #D8D8D8;
$sidebar-menu-hover: #999999;
$font-unsualTime-tab: #444444;
$font-color-sidebar:#404040;
$sidebar-hover-color: #999999;
$font-color: #666;
$font-topHeader-digits: 21px;
$sidebar-font-color: #4E4D4D;
$button-background-color: #E88136;
$background-color-radioBtn: #E88136;

$span-color: #404040;
$sub-header:25px;
$font-size: 16px;
$tab-title: 24px;
$dropdown-padding-top: 10px;

$font-family: 'Rubik';
$search-highlight-color:#F7EAC2;

/* breakpoints for laptop */
$breakpoint-laptop: 1200px;
$breakpoint-tablet:900px;
$breakpoint-small: 550px;
$breapoint-hpLaptops: 1350px;
$breakpoint-largeScreens :1600px;





